.designRegister{
    background-color: #2f4a4b;
    height: 100%;
    min-height: calc(100vh - 5.5em);
    padding: 7em;
}
#relleno1{
      
        height: 4.4em;
        width: 40em;
        border: unset;
        border-bottom: 1px solid black;
        background: unset;
        color: black;

}
#recuadroRegistro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60em;
    background-color: rgb(255 255 255);
    margin: auto;
    color: black;
    padding: 2em 7em;
    border-radius: 0.5em;
}
.botonSend {
    height: 2.1em;
    width: 7em;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.4s;

}
#texto{
    font-family: monospace;
    font-size: large;
}