.designPost{
  background-image: linear-gradient(
    -20deg
    , #616161 0%, #9bc5c3 100%);
    height: 100%;
    min-height: calc(100vh - 5.5em);
}

.btn-outline-success {
    color: #000000!important;
    background-color: gray!important;
    border-color: #000000!important;
}
.btn-outline-success:hover{
    color: #fff!important;
    background-color: #000000!important;
    border-color: #000000!important;
}

.wall2{
    background-color: #2f4a4b47;
    margin-top: 2.5em;
    width: 50em;
    height: 45em;
    overflow: auto;
    border-radius: 1em;
    
}
.wall3{
    
    margin-top: 2.5em;
    width: 30em;
    height: 45em;
    border-radius: 0.1em;
}
.chat{
    background-color: #dcdcdc3b;
    width: 100%;
    display: flex;
    height: 22em;
    flex-direction: column;
    align-items: center;
    color: white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
   
  
}
.friends{
    background-color:#dcdcdc3b;
    width: 100%;
    border-bottom: none;
    height: 20em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
 
}
.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.windowChat {
  width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1em;
    height: 16em;
    justify-content: flex-start;
    overflow: auto;
   
}

.headerfriends{
    width: 100%;
    background-color: #2f4a4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;
    border-top: unset;
    border-left: unset;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 3em;
}
.zonechat{
    height: 3em;
    padding-left: 1em;
    width: 401.9px;
    border: unset;
    overflow: auto;
    border-radius: 12px;
}
.sendbutton {
    height: 4em;
    padding-left: 1em;
    width: 401.9px;
    border-radius: 0.5em;
    border: unset;
    margin-bottom: 2em;
    background-color: green;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black
}

.sendbutton {background-image: linear-gradient(to right, #458a25 0%, #7fe700  51%, #3c7422  100%)}
.sendbutton {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .sendbutton:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
   transform: scale(1.1);
 }



.my-update {
    width: 30em;
    height: 25em;
    background-color: #000000bf;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
    border-radius: 0.1em;
    }
    #createpost  {
    color: black;
    border-radius: 2em;
    background-color: #9b9b9b;
    border-radius: 0.1em;
    
    }
    .seeWindows{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 81%);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.1em;
    }
    .open-files-back-dark {
    width: 100vw;
    height: 100vh;
    background-color: #000000d3;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    border-radius: 0.1em;
    }
    .createPost{
    width: 100%;
    max-width: 16em;
    height: 100%;
    max-height: 10em;
    display: none;
    border-radius: 0.1em;
    }
    .WindowMessagePopUp{
    background-color: #ffffff;
    font-size: 1.4em;
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.1em;
    }
    div#X {
    display: flex;
    justify-content: flex-end;
    border-radius: 0.1em;
    }
    .buttonCreatePost{
        display: flex;
        background-color: green;
        width: 50%;
        color: white;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        height: 3em;
       
    }

    .buttonCreatePost {background-image: linear-gradient(to right, #458a25 0%, #7fe700  51%, #3c7422  100%)}
    .buttonCreatePost {
       
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       display: block;
     }
    
     .buttonCreatePost:hover {
       background-position: right center; 
       color: #fff;
       text-decoration: none;
    
     }

    
    .buttonDeletePost{
        display: flex;
        background-color: #ac0000;
        width: 50%;
        color: white;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        height: 3em;
    

    }


    .buttonDeletePost {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
    .buttonDeletePost {
     
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       display: block;
     }

     .buttonDeletePost:hover {
       background-position: right center; 
       color: #fff;
       text-decoration: none;
       
     }
    


    
    .popUsStyle{
        border-radius: 0.5em;
    }
    div#CLOSE {
    background-color: #ffffff;
    border-radius: 0.2em;
    width: 16em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    
    .buttonsPost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 100;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-family: monospace;
    position: sticky;
    top: 0;
    z-index: 99999999;
    }
    .tittleChat{
    background-color: #2f4a4b;
    width: 30em;
    height: 3em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    border-top: unset;
  
    }
    .post {
    display: flex;
    background-color: ghostwhite;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-bottom: groove;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    -webkit-text-stroke-width: thin;
    text-align: justify;
    padding: 2em 0em;
    background: radial-gradient(circle, rgba(228,230,236,1) 0%, rgba(70,252,238,0.1825105042016807) 100%);
    }
  .buttoncoment{
    display: flex;
    background-color: rgba(2, 128, 201, 0.459);
    width: 100%;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    height: 3em;
    border-radius: 0.5em;
  }
  .coments{
    background-color: #abc9ff;
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.2em;
    font-family: monospace;
    text-align: left;
    padding: 0.5em;
    align-items: flex-start;
  }
  .nameusercoment{
    text-align: center;
    width: 100%;
    background-color: #0a47b0;
    color: white;
    text-transform: capitalize;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .contentpost{
    display: flex;
    width: 50%;
    font-weight: 600;
    margin-bottom: 1em;
    align-items: center;
    border-style: outset;
    border-radius: 0.5em;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .posttitle{
    margin-left: 1em;
  }

  .postname{
    margin-left: 1em;
  }

  .nameuserfriends{
    color: black;
    justify-content: center;
    border: outset;
    overflow: auto;
    border-radius: 0.5em;
    font-family: monospace;
    cursor: pointer;
    background: linear-gradient(90deg,#dddce4 0%, rgba(192, 192, 198, 0.5158438375) 35%, rgba(162, 195, 207, 0.4542191877) 42%, #59e3ff54 100%);
  }

  .messagefriend {
    margin-top: 0.5em;
    font-family: monospace;
}

.pchat {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0.1em 0.1em 0.2em black
}

.pfriends{
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0.1em 0.1em 0.2em black
}