.designFooter {
    
    background-color: #000000cc;
    height: 3.5em;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

